.App {
    margin-top: 70px; 
  }
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
}

.App {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  overflow-y: auto; 
}

.App > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  width: 100%;
}
